# Dependencies
node_modules
.pnp
.pnp.*

# Next.js build output
.next
out
build

# Git
.git
.gitignore

# Misc
.DS_Store
*.pem
*.md
!README.md

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env*.local
.env.development
.env.production

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode
*.swp
*.swo

# Docker
Dockerfile
.dockerignore
docker-compose.yml